.code-card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.code-card {
    display: block;
    background: hsl(224deg 9% 30%);
    padding: 1rem;
    box-shadow: 1px 1px 5px #202125;
    margin: 1rem;
    width: 44%;
    min-height: 12rem;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: -.5px;
    transition: .3s ease all;
    color: rgb(192, 192, 192);
    flex: auto;
}

.code-card:hover {
    background: hsl(224deg 9% 35%);
}

.code-card div{
    margin-bottom: 10px;
}

.code-title, .code-title a {
    font-size: 1.275rem;
    color: rgb(236 236 236);
}
.code-title a:hover {
    color: rgb(240, 240, 240);
}
.code-url a {
    color: rgb(216, 216, 216);
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.164);
}
.code-url a:hover {
    color: rgb(235, 235, 235);
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}

.group {
    height: fit-content;
    width: -webkit-fill-available;
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: rgb(196 196 196);
}

