.card-container{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.code-card {
    display: block;
    background: hsl(224deg 9% 30%);
    padding: .5rem;
    box-shadow: 1px 1px 5px #202125;
    margin: .5rem;
    width: 45%;
    margin: auto;
    min-height: 12rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: -.5px;
    transition: .3s ease all;
    color: rgb(192, 192, 192);
}

.code-card:hover {
    background: hsl(224deg 9% 35%);
}

.code-card div{
    margin-bottom: 10px;
}

.code-title, .code-title a {
    font-size: 26px;
    color: rgb(206, 206, 206);
}
.code-title a:hover {
    color: rgb(240, 240, 240);
}
.code-url a {
    color: rgb(216, 216, 216);
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.164);
}
.code-url a:hover {
    color: rgb(235, 235, 235);
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}